body {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 12px 10px;
}
.card {
  position: relative;
  background-size: cover;
  background-position: center;
}
.image {
  position: relative;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
}

