::selection {
    background-color: rgba(145, 199, 177, 0.5); /* Set your desired highlight color */
    color: #EB5160; /* Set the text color for the highlighted text */
}

/* For older browsers */
::-moz-selection {
    background-color: rgba(145, 199, 177, 0.5);
    color: #EB5160;
}
body {
  max-width: 800px;
  margin: auto;
  padding: 0.2em;
  line-height: 1.5em;
  color: #01172F;
  background-color: #f1f7ed;
  # background-image: url('/img/stars.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 1em;
}
a {
  color: #EB5160;
}
a:hover {
  background-color: rgba(145, 199, 177, 0.5);
  color: #EB5160; 
}
h1 {
  font-size: 1.5em;
  text-align: left;
}
h2 {
  text-align: left;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  font-size: 1.3em;
  padding: 7px;
  border-radius: 0px;
}
.menu, .article-meta, footer { 
  text-align: left; 
  color: #071013;
}
.site-title {
  font-size: 3.3em;
  text-align: left;
  line-height: 1em;
}
.title { 
  font-size: 1.8em; 
  text-align: left;
  color: #EB5160;
  line-height: 1em;
}
.date {
  font-size: 1em;
  color: #01172F;
}
 
footer a { text-decoration: none; }
hr {
  border-style: solid;
  color: #01172F;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9;
       color: #EB5160;
}

pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
